Source: tar2deb
Maintainer: William G <wg9797@outlook.com>
Section: base
Priority: optional
Version: 1.0.0
Build-Depends: debhelper (>= 12)
Package: tar2deb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wget, build-essential, imagemagick, devscripts, debhelper, curl, bash, busybox, libasound-dev
Description: convert almost any extracted tar file into a .deb file
